 /*党群服务阵地*/
 .tubiao{
    position: absolute;
    top: 28px;
    width: 100px;
    left: 490px;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background-repeat: no-repeat;
}
.carousel {
    position: absolute;
    left: 40px;
    top: 70px;
    width: 550px;
    height: 400px;
    overflow: hidden;
}
.carousel-inner {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}
.item {
    flex: 0 0 100%;
    height: 60vh;
}
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.left {
    left: 25px;
}
.right {
    right: 25px;
}
.dots {
    position: relative;
    left: 340px;
    top: 390px;
    z-index: 15;
    width: 60%;
    padding-left: 0px;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.dots > li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
    border-radius: 10px;
}
.dots .active {
    width: 12px;
    height: 12px;
    margin: 5px;
    background-color: white;
}
/*搜索*/
.img-sousuo{
    transition: opacity 0.5s ease;
}
.img-sousuo:hover{
   opacity: 0.6;
}
/*马陆党群服务中心*/
.malu{
    background-color: brown;
    width: 1200px;/*75.4%*/
    height: 40px;
    position: relative;
    margin-left: 0px;
    margin-top: 0%;
}
/*简介*/
.newlist{
    position:absolute;
    margin-top: 2px;
    margin-left: 6px;
    left: 585px;
    height: 398px;
    width: 580px;
    background-color: #FCFCFC;
    font-size: large;
    padding: auto;
    border-top: solid 2px brown;
    border-bottom: solid 2px brown;
}
/*整个简介*/
.jieshao{
    background-color: white;
    width: 1200px;
    height: 760px;
    position: absolute;
    left: 150px;
    top: 230px;
}
/*党群活动标题*/
.list-title{
    border-left: solid 5px brown;
    background-color: #FCFCFC;
    position: relative;
    font-size: 20px;
    margin-top: 425px;
    margin-left: 40px;
    width: 1132px;
    font-family: 'Trebuchet MS';
    text-indent: 20px;
}
/*党群活动内容*/
.list{
position: relative;
margin-left: 45px;
margin-top: 20px;
background-color: #fffbfb;
height: 140px;
width: 245px;
border: solid 2px gray;
float: left;
color: rgb(49, 49, 49);
}
/*内容鼠标向上移动*/
.list:hover {
    margin-top: 12px;
}
/*返回*/
.return{
    position: absolute;
    top: 715px;
    left: 1087px;
    float: left;
    width: 80px;
    height: 40px;
    margin-left: 10px;
    margin: 5px;
}
/*页脚*/
.web-bottom{
background-color:#fff;
height: 20px;
width: 600px;
position: absolute;
margin-top: 350px;
margin-left: 560px;
color: gray;
font-size: 12px;
}